body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fff0cd;
  margin: 0;
}

.main {
  margin: 0 80px;
}

.center-text {
  text-align: center;
}

.nav {
  width: 100%;
  background-color: #9c6d29;
  padding: 10px;
  margin: 0;
}

img {
  display: block;
  margin: 0 auto;
}

h1 {
  padding-top: 20px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  display: inline;
}

li a {
  color: #fffefc;
}
